.messages {
    margin: 1.2% 0 0 0;
    width: 80%;
    height: 76%;
    max-height: 300px;
    border-radius: 5px 5px 0 0;
    display: flex;
    /*display: inline-block;*/
    font-size: 20px;
    flex-direction: column-reverse;
    flex-flow: column-reverse;
    overflow-y: scroll;
    /*justify-content: flex-start;*/
    scroll-behavior: smooth;
    border: 2px solid black;
    /*z-index: 0;*/
}

.input_holder {
    height: 10%;
    width: 100%;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.input {
    height: 100%;
    font-size: 20px;
    border-radius: 0 0 0 5px;
    width: 65%;
    border: 2px solid black;
    border-top: none;
    padding: 0 2% 0 1%;
    margin: 0;
}

.submit {
    width: 12%;
    height: 105%;
    margin: 0;
    font-size: 20px;
    padding: 8px 10px 10px 10px;
    background: black;
    border-radius: 0 0 3px 0;
    border: 2px solid black;
    border-top: none;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
}

.submit:hover {
    background: rgb(50, 50, 50);
}

.message-incoming {
    width: fit-content;
    display: inline-flex;
    align-self: flex-start;
    align-items: flex-end;
    flex-direction: row;
    max-width: 60%;
    border-radius: 10px;
    margin: 0 0 20px 20px;
    min-height: max-content;
    padding: 1% 2% 1% 1%;
}

.message-upcoming {
    width: fit-content;
    display: inline-flex;
    align-self: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;
    max-width: 60%;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    padding: 1% 2% 1% 1%;
    min-height: max-content;
}

.text-incoming {
    font-size: 24px;
    border-radius: 10px 10px 10px 0;
    padding: 5px 8px 5px 8px;
    background-color: rgb(200, 200, 200);
    color: black;
    overflow-wrap: break-word;
    max-width: 80%;
    margin-left: 20px;
}

.text-upcoming {
    font-size: 24px;
    border-radius: 10px 10px 0 10px;
    padding: 5px 8px 5px 8px;
    background-color: grey;
    max-width: 80%;
    color: black;
    overflow-wrap: break-word;
    margin-right: 20px;
}

.a:link {
    color: black;
}

.a:visited {
    color: red;
}

.a:hover {
    color: rgb(200, 200, 200);
}

.admin:hover {
    background: grey;
}

.title {
    margin: 0;
    padding: 0;
}

.picture {
    width: 37px;
    height: 37px;
    min-width: 20px;
    background: black;
    border-radius: 5px;
    /*margin: 1%;*/
    font-family: 'Abril Fatface', cursive;
    font-size: 26px;
    color: white;
    position: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
    padding-left: 50px;
    margin: 0 0 0 2%;
}
