.btwline {
	padding-top: 40px;
	width: 100%;
}
.btwline img {
	width: 100%;
}
.btwline p {
	background-color: rgba(200, 200, 200, 0.75);
	font-size: 30px;
	position: relative;
	bottom: 50px;
	text-align: left;
}

.bk {
	display: flex;
	justify-content: center;
}
.books_container {
	width: 100%;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	margin: 5px;
}
.book {
	background: white;
	width: 20%;
	margin: 10px;
	border: 2px solid black;
	border-radius: 5px;
	transition: all .2s ease-in-out;
	font-size: 15px;
}
.book:hover {
	transform: scale(1.1);
}
.book img {
	width: 100%;
}
.book p {
	text-align: center;
}
.price {
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}
@media screen and (max-width: 990px) {
	.btwline p {
		font-size: 23px;
	}
}
@media screen and (max-width: 820px) {
	.btwline p {
		font-size: 15px;
	}
}
@media screen and (max-width: 790px) {
	.book {
		width: 25%;
	}
}
@media screen and (max-width: 590px) {
	.book {
		font-size: 10px;
		width: 35%;
	}
}