.main {
    width: 100%;
}

.container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

.filters {
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    margin: 2% 5% 2% 5%;
    background-color: rgb(200, 200, 200);
    max-height: 220px;
}

.filters .form {
    flex-wrap: wrap;
    width: 100%;
}

.filters .select {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    width: 290px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background-color: white;

}

.filters .input_text {
    border-radius: 5px;
    border: none;
    padding: 10px 10px 10px 10px;
    width: 270px;
}

.filters .title {
    color: black;
    text-align: left;
    padding: 20px 0 0 0;
}

.filters .button {
    width: 290px;
    margin: 20px 0 0 0;
    padding: 10px 10px 10px 10px;
    background: black;
    border-radius: 3px;
    border: 1px solid black;
    color: white;
}

.results {
    margin: 2% 5% 2% 0;
    border-radius: 10px;
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    flex-flow: wrap;
    justify-content: flex-start;
    /*background-color: rgb(200, 200, 200);*/
    padding: 0 2% 0 2%;
}

.test {
    margin: 0 4% 4% 4%;
    background-color: red;
    height: 250px;
    width: 200px;
}
