<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ubiquitous-spark</title>
	<link rel="stylesheet" type="text/css" href="/site/stylesheets/default.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="header_container">
			<img src="/site/img/logo.png">
			<nav>
				<div class="topnav">
					<a href="/">HOME</a>
					<a href="/search">SEARCH</a>
					<a href="/site/projects.html">SMTHNG</a>
					<a href="/" id="company_name">UBIQUITOUS-SPARK</a>
					<a href="/site/serveces.html">PURCHASES</a>
					<a href="/account">ACCOUNT</a>
					<a href="/about">ABOUT</a>
				</div>
			</nav>
		</div>
	</header>
	{{{ body }}}
	<footer>
		<div class="footer_container">
			<nav>
				<div class="botnav">
					<a href="/">HOME</a>
					<a href="/search">SEARCH</a>
					<a href="/site/projects.html">SMTHNG</a>
					<a href="/site/serveces.html">PURCHASES</a>
					<a href="account">ACCOUNT</a>
					<a href="/site/about.html">ABOUT</a>
				</div>
			</nav>
		</div>
		<div class="social">
			<a href="#"><img src="/site/img/social/facebook.png"></a>
			<a href="#"><img src="/site/img/social/gmail.png"></a>
			<a href="#"><img src="/site/img/social/github.png"></a>
			<a href="#"><img src="/site/img/social/pinterest.png"></a>
		</div>
		<p>Cooperative Q'Kation 2019</p>
	</footer>
</body>
</html>
