<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<main class="main">
	<form name="registration" id="reg" class="form" method="post" action="/register" style="width: 40%">
		{{{ message }}}
		<div class="title">Login</div>
		<input type="text" name="username" class="input_text" placeholder="the.travynka" oninput="submitState(registration)" id="username">
		<div class="title">Full Name</div>
		<input type="text" name="fullname" class="input_text" placeholder="e. g. Pavlo Myroniyk">
		<div class="title">Email Address</div>
		<input type="text" name="email" class="input_text" placeholder="example@e.mail" oninput="submitState(registration)" id="email">
		<div class="title">Phone Number</div>
		<input type="text" name="phone" class="input_text" placeholder="+38 011 1111 111" oninput="submitState(registration)" id="phone">
		<div class="title">Password</div>
		<input type="password" name="password" class="input_text" oninput="submitState(registration)" id="password">
		<div class="title">Submit password</div>
		<input type="password" name="password_r" class="input_text" oninput="submitState(registration)" id="password_r">
		<input type="submit" name="register" class="button" value="Register" id="submit">
		<a href="/login" class="redirect">Have an account? Log in...</a>
	</form>
</main>
<script type="text/javascript">
		let	np = document.getElementById('phone');
		let	events  = ['input', 'change', 'blur', 'keyup'];
		for (let i in events) {
	    np.addEventListener('input', formatPhone, false);
	}
	function formatPhone(a) {
	    let numPhone = this.value.replace(/[^\d]/g, '').substring(0,10);
	    if (numPhone.length <7 ) {
	    numPhone = numPhone !== '' ? numPhone.match(/.{1,3}/g).join(' ') : '';
	    } else {
	    numPhone = numPhone.substring(0,6).match(/.{1,3}/g).join(' ') + ' ' + numPhone.substring(6,10).match(/.{1,2}/g).join(' ');
	    }
	    this.value = numPhone;
	}
	function checkLogin(form) {
		const re_name = /^[a-zA-Z0-9]+$/;
		const input = document.getElementById('username');
		if (re_name.test(form.username.value)) {
			input.setAttribute('class', 'input_text');
			return true;
		} else {
			input.setAttribute('class', 'input_text_false');
			return false;
		}
	}
	function checkEmail(form) {
		const re_mail = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
		const input = document.getElementById('email');
		if (re_mail.test(form.email.value)) {
			input.setAttribute('class', 'input_text');
			return true;
		} else {
			input.setAttribute('class', 'input_text_false');
			return false;
		}
	}
	function checkPhone(form) {
		const re_phone = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
		const input = document.getElementById('phone');
		if (re_phone.test(form.phone.value)) {
			input.setAttribute('class', 'input_text');
			return true;
		} else {
			input.setAttribute('class', 'input_text_false');
			return false;
		}
	}
	function checkPassword(form) {
		const input = document.getElementById('password_r');
		if (form.password.value === form.password_r.value) {
			input.setAttribute('class', 'input_text');
			return true;
		} else {
			input.setAttribute('class', 'input_text_false');
			return false;
		}
	}
	function submitState(form) {
		const submitButton = document.getElementById('submit');
		if (checkLogin(form) && checkEmail(form) && checkPhone(form) && checkPassword(form)) {
			console.log('==true');
			submitButton.removeAttribute('disabled');
		} else {
			console.log('==false');
			submitButton.setAttribute('disabled', 'true');
		}
	}
</script>