<link rel="stylesheet" type="text/css" href="/site/stylesheets/about.css">
<main class="main">
    <h1>ABOUT US</h1>
    <p class="about">
        Ubiquitous-Spark offers you an unlimited choice amongst compositions of any style, genre or kind.
        Nowadays, books are considered deprecated because of their inconvenient physical envelopment.
        But in the age of gadgets and internet all of the inconceivable wisdom of various reads is at your hands and easy to embrace!
        Go ahead and challenge yourself with contemplation, and you will never manage to stop!
    </p>
    <p class="contacts">
        Our chat for customer support is currently in progress.<br><br>
        Please feel free to contact us via email: <b>example@gmail.com<br></b>
        or via phone: <b>+380123456789</b>
    </p>
</main>