<link rel="stylesheet" type="text/css" href="/site/stylesheets/about.css">
<main class="main">
    <p class="about">
        Ubiquitous-Spark offers you an unlimited choice amongst compositions of any style, genre or kind.<br>
        Nowadays, books are considered deprecated because of their inconvenient physical envelopment.<br>
        But in the age of gadgets and internet all of the inconceivable wisdom of various reads is at your hands and easy to embrace!<br>
        Go ahead and challenge yourself with contemplation, and you will never manage to stop!<br>
    </p>
    <p class="contacts">
        Our chat for customer support is currently in progress.
        Please feel fre to contact us via email: example@gmail.com
        and via phone: +380123456789
    </p>
</main>