<link rel="stylesheet" type="text/css" href="/site/stylesheets/account.css">
<main>
	<!-- <div class="page"> -->
	<div class="pagecontainer">
		<div class="navigationcontainer">
			<div class="navigation">
				<a href="#">Account</a>
				<a href="#">My books</a>
				<a href="#">Liked books</a>
				<a href="#">Chat - demo</a>
			</div>
		</div>
		<div class="content">
			<h2>Account overview</h2>
			<h4>Account overview</h4>
			<p>Is this the right way to create a directory if it doesn't exist. It should have full permission for the script and readable by others.</p>
			<p>Is this the right way to create a directory if it doesn't exist. It should have full permission for the script and readable by others.</p>
			<p>Is this the right way to create a directory if it doesn't exist. It should have full permission for the script and readable by others.</p>
			<p>Is this the right way to create a directory if it doesn't exist. It should have full permission for the script and readable by others.</p>
			<p>Is this the right way to create a directory if it doesn't exist. It should have full permission for the script and readable by others.</p>
			<p>Is this the right way to create a directory if it doesn't exist. It should have full permission for the script and readable by others.</p>
		</div>
	</div>
	<!-- </div> -->
</main>