<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<main class="main">
	<form name="addbook" id="reg" class="form" method="post" action="/addbook" enctype="multipart/form-data">
		{{{ message }}}
		<div class="title">Book name</div>
		<input type="text" name="name" class="input_text">
		<div class="title">Author</div>
		<input type="text" name="author" class="input_text">
		<div class="title">Year</div>
		<input type="text" name="year" class="input_text">
		<div class="title">Publishing house</div>
		<input type="text" name="publishing" class="input_text">
		<div class="title">Short description</div>
		<input type="text" name="description" class="input_text">
		<div class="title">Choose phoro('s) for preview</div>
		<div class="upload-btn-wrapper">
			<button class="btn">Select photos</button>
			<input type="file" name="photos" onclick="file()" id="photos" multiple="true">
		</div>
		<div class="title">Choose book('s) for uploading</div>
		<div class="upload-btn-wrapper">
			<button class="btn">Select books</button>
			<input type="file" name="books" onclick="file()" id="files" multiple="true">
		</div>
		<input type="submit" name="add" class="button" value="Add book" id="submit">
		<a href="/account" class="redirect" style="text-decoration: none; text-align: center;">Cancel</a>
	</form>
</main>
<script type="text/javascript">
	function file() {
		const fileButton = document.getElementById('files');
		console.log(fileButton);
		console.log(fileButton.files);
	}
</script>