<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<main class="main">
	<form name="registration" id="reg" class="form" method="post" action="/register">
		{{{ message }}}
		<div class="title">Book name</div>
		<input type="text" name="book_name" class="input_text">
		<div class="title">Author</div>
		<input type="text" name="author" class="input_text">
		<div class="title">Year</div>
		<input type="text" name="year" class="input_text">
		<div class="title">Publishing house</div>
		<input type="text" name="publishing" class="input_text">
		<div class="title">Short description</div>
		<input type="text" name="description" class="input_text">
		<div class="title">Choose a file for uploading</div>
		<div class="upload-btn-wrapper">
			<button class="btn">Select a file</button>
			<input type="file" name="myfile" />
		</div>
		<input type="submit" name="add" class="button" value="Add book" id="submit">
		<a href="/account" class="redirect" style="text-decoration: none; text-align: center;">Cancel</a>
	</form>
</main>