<link rel="stylesheet" type="text/css" href="/site/stylesheets/cart.css">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<main>
    <div class="container">
        <p class="title">{{ title }}</p>
        <div class="results">
            {{{ items }}}
        </div>
        {{{ button }}}
    </div>
</main>
