<link rel="stylesheet" type="text/css" href="/site/stylesheets/cart.css">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<main>
    <div class="container">
        <p class="title">{{ title }}</p>
        <div class="results">
            <div class="testing"></div>
            <div class="testing"></div>
            <div class="testing"></div>
            {{{ items }}}
        </div>
        <input type="button" class="pay" value="Proceed to payment">
    </div>
</main>
