<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/account.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/chat.css">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
<main>
	<div class="pagecontainer">
		<div class="navigationcontainer">
			<div class="navigation">
				<a href="/account">Account</a>
				<a href="/account/mybooks">My books</a>
				<a href="/account/addbook" style="background-color: grey;">Add book</a>
				<a href="/account/likedbooks">Liked books</a>
				<a href="/chat">Chat - demo</a>
				<a href="/logout">Log out</a>
			</div>
		</div>
		<div class="content">
			<h1 class="title">Administrators</h1>
			<div class="admins">
				<a class="a"  href="chat_entry"><div class="admin">
                    <div class="picture">P</div>
					<p class="text"><strong>Pasha</strong></p>
				</div></a>
			</div>
		</div>
	</div>
</main>
