<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/account.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/chat.css">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
<main>
	<div class="pagecontainer">
		<div class="navigationcontainer">
			<div class="navigation">
				<a href="/account">Account</a>
				<a href="/account/mybooks">My books</a>
				<a href="/account/addbook">Add book</a>
				<a href="/account/likedbooks">Liked books</a>
				<a href="/chat" style="background-color: grey;">Chat - demo</a>
				<a href="/logout">Log out</a>
			</div>
		</div>
		<div class="content">
			<h1 class="title">Administrators</h1>
			<div class="admins">
				{{{ admins }}}
			</div>
		</div>
	</div>
</main>
