<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/account.css">
<main>
	<div class="pagecontainer">
		<div class="navigationcontainer">
			<div class="navigation">
				<a href="/account">Account</a>
				<a href="/account/mybooks">My books</a>
				<a href="/account/addbook" style="background-color: grey;">Add book</a>
				<a href="/account/likedbooks">Liked books</a>
				<a href="/chat">Chat - demo</a>
				<a href="/logout">Log out</a>
			</div>
		</div>
		<div class="content">
			<h1 style="width: 100%;">Administrators</h1>
			<div class="admins">
				<div class="admin"></div>
			</div>
		</div>
	</div>
</main>
