<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/account.css">
<link rel="stylesheet" type="text/css" href="/site/stylesheets/chat_entry.css">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
<main>
    <div class="pagecontainer">
        <div class="navigationcontainer">
            <div class="navigation">
                <a href="/account">Account</a>
                <a href="/account/mybooks">My books</a>
                <a href="/account/addbook">Add book</a>
                <a href="/account/likedbooks">Liked books</a>
                <a href="/chat" style="background-color: grey;">Chat - demo</a>
                <a href="/logout">Log out</a>
            </div>
        </div>
        <div class="content">
            <h1 class="title">Chat with {{admin}}</h1>
            <div class="messages">
                <div class="message-incoming">
                    <div class="picture">A</div>
                    <div class="text-incoming">Hello!</div>
                </div>
                <div class="message-upcoming">
                    <div class="picture">U</div>
                    <div class="text-upcoming">Hello!</div>
                </div>
                <div class="message-incoming">
                    <div class="picture">A</div>
                    <div class="text-incoming">Hello!</div>
                </div>
                <div class="message-upcoming">
                    <div class="picture">U</div>
                    <div class="text-upcoming">Hello!</div>
                </div>
                <div class="message-incoming">
                    <div class="picture">A</div>
                    <div class="text-incoming">Hello!</div>
                </div>
                <div class="message-upcoming">
                    <div class="picture">U</div>
                    <div class="text-upcoming">Hello!</div>
                </div>
                <div class="message-incoming">
                    <div class="picture">A</div>
                    <div class="text-incoming">Hello!</div>
                </div>
                <div class="message-upcoming">
                    <div class="picture">U</div>
                    <div class="text-upcoming">Hello!</div>
                </div>
                <div class="message-incoming">
                    <div class="picture">A</div>
                    <div class="text-incoming">Hello!</div>
                </div>
                <div class="message-upcoming">
                    <div class="picture">U</div>
                    <div class="text-upcoming">Hello!</div>
                </div>
                <div class="message-incoming">
                    <div class="picture">A</div>
                    <div class="text-incoming">Hello!</div>
                </div>
                <div class="message-upcoming">
                    <div class="picture">U</div>
                    <div class="text-upcoming">Hello!</div>
                </div>
            </div>

        </div>
    </div>
</main>
