<link rel="stylesheet" type="text/css" href="/site/stylesheets/home.css">
<main>
	<div class="btwline">
		<img src="/site/img/home/title.jpg">
		<p>This is a great starting point, but of course it’s never quite that simple.</p>
	</div>

	<div class="bk">
	<div class="books_container" id="container">{{{books}}}</div>
	</div>
</main>
<script type="text/javascript">
	function addCookie() {
		console.log('onload');
		document.cookie = 'redirect=/addbook';
	}
</script>
