<link rel="stylesheet" type="text/css" href="/site/stylesheets/home.css">
<main>
	<div class="btwline">
		<img src="/site/img/home/title.jpg">
		<p>This is a great starting point, but of course it’s never quite that simple.</p>
	</div>

	<div class="bk">
	<div class="books_container" id="container">
		<div class="book" onclick="addCookie()">
			<img src="/site/img/temp_book_photo/1.jpg">
			<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
			<div class="price">100 $</div>
		</div>
		<div class="book">
			<img src="/site/img/temp_book_photo/2.jpg">
			<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
			<div class="price">100 $</div>
		</div>
		<div class="book">
			<img src="/site/img/temp_book_photo/3.jpg">
			<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
			<div class="price">100 $</div>
		</div>
		<div class="book">
			<img src="/site/img/temp_book_photo/4.jpg">
			<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
			<div class="price">100 $</div>
		</div>
		<div class="book">
			<img src="/site/img/temp_book_photo/5.jpg">
			<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
			<div class="price">100 $</div>
		</div>
		<div class="book">
			<img src="/site/img/temp_book_photo/6.jpg">
			<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
			<div class="price">100 $</div>
		</div>
		<div class="book">
			<img src="/site/img/temp_book_photo/7.jpg">
			<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
			<div class="price">100 $</div>
		</div>
		<div class="book">
			<img src="/site/img/temp_book_photo/8.jpg">
			<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
			<div class="price">100 $</div>
		</div>
	</div>
	</div>
</main>
<script type="text/javascript">
	function addCookie() {
		console.log('onload');
		document.cookie = 'redirect=/addbook';
	}
</script>