<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<main class="main">
	<form name="login" id="log" class="form" method="post" action="/login">
		{{{ message }}}
		<div class="title">Login</div>
		<input type="text" name="username" class="input_text" placeholder="e. g. Pavlo Myroniyk">
		<div class="title">Password</div>
		<input type="password" name="password" class="input_text">
		<input type="submit" name="login" class="button" value="Login">
		<a href="/site/forgetpassword" class="redirect">Did you forget your password?</a>
		<a href="/site/register" class="redirect" style="text-decoration: none; font-size: 17px;">Need an account? Register...</a>
	</form>
</main>