<link rel="stylesheet" type="text/css" href="/site/stylesheets/forms.css">
<main class="main">
	<form name="registration" id="reg" class="form" method="post" action="/register" style="width: 40%">
		{{{ message }}}
		<div class="title">Login</div>
		<input type="text" name="username" class="input_text" placeholder="theTravynka" oninput="submitState(registration)" id="username">
		<div class="title">Full Name</div>
		<input type="text" name="fullname" class="input_text" placeholder="e. g. Pavlo Myroniyk">
		<div class="title">Email Address</div>
		<input type="text" name="email" class="input_text" placeholder="example@e.mail" oninput="submitState(registration)" id="email">
		<div class="title">Phone Number</div>
		<input type="text" name="phone" class="input_text" placeholder="0999999999" oninput="submitState(registration)" id="phone">
		<div class="title">Password</div>
		<input type="password" name="password" class="input_text" oninput="submitState(registration)" id="password">
		<div class="title">Submit password</div>
		<input type="password" name="password_r" class="input_text" oninput="submitState(registration)" id="password_r">
		<input type="submit" name="register" class="button" value="Register" id="submit">
		<a href="/login" class="redirect">Have an account? Log in...</a>
	</form>
</main>
<script type="text/javascript">
	function checkLogin(form) {
		const re_name = /^[a-zA-Z0-9]+$/;
		const input = document.getElementById('username');
		if (re_name.test(form.username.value) && form.username.value !== 0) {
			input.setAttribute('class', 'input_text');
			return true;
		} else {
			input.setAttribute('class', 'input_text_false');
			return false;
		}
	}
	function checkEmail(form) {
		const re_mail = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
		const input = document.getElementById('email');
		if (re_mail.test(form.email.value) && form.email.value !== 0) {
			input.setAttribute('class', 'input_text');
			return true;
		} else {
			input.setAttribute('class', 'input_text_false');
			return false;
		}
	}
	function checkPhone(form) {
		const re_phone = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
		const input = document.getElementById('phone');
		if (re_phone.test(form.phone.value)) {
			input.setAttribute('class', 'input_text');
			return true;
		} else {
			input.setAttribute('class', 'input_text_false');
			return false;
		}
	}
	function checkPassword(form) {
		const input = document.getElementById('password_r');
		if (form.password.value === form.password_r.value) {
			input.setAttribute('class', 'input_text');
			return true;
		} else {
			input.setAttribute('class', 'input_text_false');
			return false;
		}
	}
	function submitState(form) {
		const submitButton = document.getElementById('submit');
		const lg = checkLogin(form);
		const ph = checkPhone(form);
		const em = checkEmail(form);
		const ps = checkPassword(form);
		if (lg && em && ph && ps) {
			submitButton.removeAttribute('disabled');
		} else {
			submitButton.setAttribute('disabled', 'true');
		}
	}
</script>