<link rel="stylesheet" type="text/css" href="/site/stylesheets/mybooks.css">
<main>
	<div class="pagecontainer">
		<div class="navigationcontainer">
			<div class="navigation">
                <a href="/account">Account</a>
                <a href="/account/uploadedbooks">Uploaded books</a>
                <a href="/account/boughtbooks">Bought books</a>
                <a href="/account/likedbooks"   style="background-color: grey;">Liked books</a>
                <a href="/account/addbook">Add book</a>
                <a href="/chat">Chat</a>
                <a href="/logout">Log out</a>
			</div>
		</div>
		<div class="content">
			<h1 style="width: 100%;">Liked books</h1>
            {{{ disclaimer }}}
			{{#each books}}
			    {{{this}}}
			{{/each}}
		</div>
	</div>
	<div class="contentcount">
		{{#each pagination}}
		    {{{this}}}
		{{/each}}
	</div>
	<script type="text/javascript">
		function delete_book(id, address) {
			const book = document.getElementById(id);
			book.parentNode.removeChild(book);
    		return false;
		}
	</script>
</main>
