<link rel="stylesheet" type="text/css" href="/site/stylesheets/mybooks.css">
<main>
	<div class="pagecontainer">
		<div class="navigationcontainer">
			<div class="navigation">
				<a href="/account">Account</a>
				<a href="/account/mybooks">My books</a>
				<a href="/account/addbook">Add book</a>
				<a href="/account/likedbooks" style="background-color: grey;">Liked books</a>
				<a href="/chat">Chat - demo</a>
				<a href="/logout">Log out</a>
			</div>
		</div>
		<div class="content">
			<h1 style="width: 100%;">Liked books</h1>
			<div class="book">
				<img src="/site/img/temp_book_photo/3.jpg">
				<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
				<div class="price">100 $</div>
			</div>
			<div class="book">
				<img src="/site/img/temp_book_photo/5.jpg">
				<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
				<div class="price">100 $</div>
			</div>
			<div class="book">
				<img src="/site/img/temp_book_photo/6.jpg">
				<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
				<div class="price">100 $</div>
			</div>
			<div class="book">
				<img src="/site/img/temp_book_photo/4.jpg">
				<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
				<div class="price">100 $</div>
			</div>
			<div class="book">
				<img src="/site/img/temp_book_photo/2.jpg">
				<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
				<div class="price">100 $</div>
			</div>
			<div class="book">
				<img src="/site/img/temp_book_photo/7.jpg">
				<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
				<div class="price">100 $</div>
			</div>
			<div class="book" onclick="addCookie()">
				<img src="/site/img/temp_book_photo/1.jpg">
				<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
				<div class="price">100 $</div>
			</div>
			<div class="book">
				<img src="/site/img/temp_book_photo/8.jpg">
				<p>After completing the form, please be patient until you receive a shipping confirmation via your email.</p>
				<div class="price">100 $</div>
			</div>
		</div>
	</div>
	<div class="contentcount">
		<a href="#" class="pagenumber">&lt</a>
		<a href="#" class="pagenumber">1</a>
		<a href="#" class="pagenumber">2</a>
		<a href="#" class="pagenumber">3</a>
		<a href="#" class="pagenumber">4</a>
		<a href="#" class="pagenumber">5</a>
		<a href="#" class="pagenumber">6</a>
		<a href="#" class="pagenumber">&gt</a>
	</div>
</main>