<link rel="stylesheet" type="text/css" href="/site/stylesheets/mybooks.css">
<main>
  <div class="pagecontainer">
    <div class="navigationcontainer">
      <div class="navigation">
        <a href="/account">Account</a>
        <a href="/account/uploadedbooks"   style="background-color: grey;">Uploaded books</a>
        <a href="/account/boughtbooks">Bought books</a>
        <a href="/account/likedbooks">Liked books</a>
        <a href="/account/addbook">Add book</a>
        <a href="/chat">Chat</a>
        <a href="/logout">Log out</a>
      </div>
    </div>
    <div class="content">
      <div id="popups">  
      </div>
      <h1 style="width: 100%;">Uploaded books</h1>
        {{{ disclaimer }}}
      {{#each books}}
        {{{this}}}
      {{/each}}
    </div>
  </div>
  <div id="contentcount" class="popupcontainer">
    {{#each pagination}}
      {{{this}}}
    {{/each}}
  </div>
  <script type="text/javascript">
    let count = 0;
    function hide(id) {
      console.log('in hide');
      const popup = document.getElementById(id)
      popup.parentNode.removeChild(popup);
    }
    function delete_book(id, address) {
      console.log('in delete');
      const book = document.getElementById(id);
      count += 1;
      const deleteBook = new XMLHttpRequest();
        deleteBook.open('POST', `${address}`, true);
        deleteBook.send();
        deleteBook.addEventListener("load", (env) => {
          if (deleteBook.status === 404) {
            console.log('Bad request: return status code 404');
          } else {
            book.parentNode.removeChild(book);
            const message = deleteBook.response;
            console.log(message);
            const popups = document.getElementById("contentcount");
            popups.innerHTML += `<span class="popuptext" id="${count}" onclick="hide(${count})">${message}</span>`;
            const popup = document.getElementById(`${count}`)
            setTimeout(() => {
              hide(`${count}`);
            }, 3000);
          }
        });
      return false;
    }
  </script>
</main>
